.notifications-section {
    background-color: var(--light-bg);
    padding: 30px;
    border-radius: 30px;
    max-width: 800px;
    margin: 120px auto;
    color: var(--text-white);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.notifications-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff1a;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.notifications-list {
    list-style: none;
    padding: 0;
}

.notification-item {
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification-item.unread {
    border-left: 4px solid var(--primary-color);
}

.notif-actions {
    display: flex;
    gap: 10px;
}

.notif-actions button {
    background: var(--primary-color);
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    color: var(--text-button-dark-);
}

.delete-btn {
    background: #ff4d4d !important;
}


@media (max-width: 768px) {
    .notifications-section {
        width: 90%;
        padding: 20px;
    }
}